.container {
  width: 11.5rem;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }

  .name {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .category {
    font-size: 1.2rem;
    color: var(--mantine-color-gray-6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
