.container {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--mantine-color-green-7);
  gap: 0.3rem;

  .icon {
    flex-shrink: 0;
  }

  p {
    font-size: 1.2rem;
    color: $color-primary-text;
  }
}
