.container {
  width: 100%;
  padding: 1rem;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      .title {
        font-size: 1.4rem;
        color: $color-primary-text;
        font-weight: 700;
      }

      .subtitle {
        font-size: 1.4rem;
        color: $color-secondary-text;
      }
    }
  }

  .scan {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
  }

  .code {
    max-width: 15rem;
    aspect-ratio: 1;
    display: block;
    margin: 2rem auto 0 auto;
  }

  .disclaimer {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .list {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
