@import './variables';
@import './generic';
@import './mixins';
@import './reset';

#shoutout-main {
  background-color: var(--mantine-color-gray-0);
  overflow-x: hidden;
}

// .infinite-scroll-component__outerdiv {
//   width: 100%;
// }

::-webkit-scrollbar {
  display: none;
}
