@import "./variables";
@import "./generic";
@import "./mixins";
@import "./reset";

#shoutout-main {
  background-color: $color-body-primary;
  overflow-x: hidden;
}

// .infinite-scroll-component__outerdiv {
//   width: 100%;
// }

:root {
  --toastify-toast-width: 36rem !important;
  --app-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
