@import './variables';
@import './generic';
@import './mixins';
@import './reset';

:root {
  --app-bar-height: #{$app-bar-height};
}

#shoutout-main {
  background-color: var(--mantine-color-gray-0);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
