$color-primary: #e23744;
$color-teal: #009999;
$color-primary-text: #1c1c1c;
$color-secondary-text: var(--mantine-color-gray-9);
$color-body-primary: #ffe9ec;
$app-bar-height: 6rem;
$app-header-height: 4rem;
