.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--mantine-color-gray-1);

  .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;

    .name {
      font-size: 1.2rem;
      color: $color-primary-text;
      font-weight: 500;

      .meta {
        font-size: 1rem;
        color: $color-secondary-text;
        font-weight: 500;
      }
    }
  }
}
